- content_for :crumb do
  = link_to 'Home', '/'
  \&gt;
  FAQs
- blue_box 'Frequently Asked Questions' do
  = render :partial => '/layouts/search_form'
  %br/
  - unless params[:q].blank?
    %h2{:style => "margin-top: 0;"}
      Found #{pluralize(@faqs_all.size, 'question')}.
  = render :partial => "faqs"
- unless @faqs.total_pages == 1
  %p= will_paginate @faqs
= render :partial => "tags"
