%h1{:style => "margin-top: 0;"}= h @faq.question
= @faq.answer
%p.gray{:style => "margin-bottom: 0;"}
  ="Tags: #{@faq.tag_list.collect { |t| link_to(h(t), tag_faq_path(t)) }.join(', ')}"
- unless @related_faqs.empty?
  = render :partial => "faqs", :locals => { :faqs => @related_faqs }
- if @related_faqs.empty? and !@faqs.empty?
  = render :partial => "faqs"

= render :partial => "tags"